<html>
    
    <head>
            <h1>{{ 'Restaurants' }}</h1>
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
    </br>
    <a href='{{url_for('newRestaurant')}}'>New Restaurant</a>
    </br>
    </br>
        {% for i in restaurant %}

        {{i.name}}
    </br>
        <a href='{{url_for('showMenu', restaurant_id = i.id)}}'>Menu</a>
    </br>
        <a href='{{url_for('editRestaurant', restaurant_id = i.id)}}'>Edit</a>
    </br>
        <a href='{{url_for('deleteRestaurant', restaurant_id = i.id)}}'>Delete</a>
    </br>
    <hr>
        {% endfor %}
    
    </body>
</html>